html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.bs-docs-header {
		position: relative;
		padding: 30px 0;
		color: #cdbfe3;
		text-align: center;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
		background-color: #6f5499;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c),
			to(#6f5499) );
		background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
		background-image: -o-linear-gradient(top, #563d7c 0, #6f5499 100%);
		background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c',
			endColorstr='#6F5499', GradientType=0 );
		background-repeat: repeat-x
	}	

	.bs-docs-header {
		margin-bottom: 20px;
		font-size: 20px
	}
	
	.bs-docs-header h1 {
		margin-top: 0;
		color: #fff
	}
	
	.bs-docs-header p {
		margin-bottom: 0;
		font-weight: 200;
		line-height: 1.4
	}
	
	.bs-docs-header .container {
		position: relative
	}
	
	@media ( min-width :768px) {
		.bs-docs-header {
			padding-top: 60px;
			padding-bottom: 20px;
			font-size: 20px;
			text-align: left
		}
		.bs-docs-header h1 {
			font-size: 50px;
			line-height: 1
		}	
	}
